<div>
  <div class="header flex">
      <h2>这里是标题</h2>
      <input [(ngModel)]="searchValue" (input)="handleSearch($event)" (keyup)="handleSearch($event)" />
  </div>
  <div class="flex container">
    <div class="aside">
      <ul>
        <li><a [routerLink]="[ '/children1' ]" routerLinkActive="active">children1</a></li>
        <li><a [routerLink]="[ '/children2' ]" routerLinkActive="active">children2</a></li>
        <li><a [routerLink]="[ '/children3' ]" routerLinkActive="active">children3</a></li>
        <li><a [routerLink]="[ '/children4' ]" routerLinkActive="active">children4</a></li>
      </ul>
    </div>
    <div class="content">
      <ul>
        <li *ngFor="let item of list">{{item}}</li>
      </ul>
      <router-outlet></router-outlet>
     </div>
  </div>
</div>
